.footer {
  flex: 0 1 auto;
  background-color: #0a4777; /* Consistent color */
  color: white;
  text-align: center;
  padding: 1rem;
  position: relative; /* Static positioning by default */
  z-index: 10;
  bottom: 0; /* Will always remain at the bottom with flex layout */
  width: 100%; /* Ensure the footer spans the full width of the screen */
  box-shadow: 4px 0 10px rgba(0,0,0,0.5);

}

.footer-content img {
  display: inline-block;
}

.footer-content p {
  margin: 0;
  display: inline-block;
  font-size: 0.9rem;
  align-items: center;
}

/* lighter coloured link style for dark bars */
.dark-link {
  color: #FFFFFF;
}
.dark-link:hover {
  color: #FFFFFF;
  font-weight: bold;
}
