.footer {
  background-color: #0a4777; /* Consistent color */
  color: white;
  text-align: center;
  padding: 1rem;
  position: relative; /* Static positioning by default */
  z-index: 10;
  bottom: 0; /* Will always remain at the bottom with flex layout */
  width: 100%; /* Ensure the footer spans the full width of the screen */
}

.footer-content img {
  display: inline-block;
}

.footer-content p {
  margin: 0;
  display: inline-block;
  font-size: 0.9rem
  align-items: center;
}
*/
