#root {
  margin: 0 auto;
  padding: 0;
  /* text-align: center; */
  height: 100%;
  font-family: Barlow, serif;
  display: flex;
}


.app-container {
  display: flex;
  flex-direction: column; /* Stack Navbar, Main Content, and Footer */
  margin: 0;
  padding: 0;
  height: 100vh; /* Ensure the container fills the entire viewport */
  width: 100%;
  overflow: hidden; /* prevent body from scrolling */
  box-sizing: border-box;
  background-color: #eeeeee;

}
.main-content {
  flex: 1 1 auto; /* This makes the main content area take up the remaining space */
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* scrollable with overflowing content */
  position: relative;
  padding: 1rem 1rem; /* Optional: Add some padding */
  height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  /*text-decoration: inherit;*/
}
a:hover {
  color: #535bf2;
}


.flex-container {
  display: flex;
  gap: 10px;
  margin: 10px;
  padding: 10px;
  flex-direction: row;
  background-color: #ffffff;
  border: 0 solid #ccc;
  border-radius: 10px 10px 10px 10px; /* Rounded top corners */
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);



}

.flex-container.column {
  flex-direction: column;
  height: auto;  /* ensure height is calculated automatically based on content */
}

.flex-container.no-padding {
  padding: 0;
  margin: 0;
  gap: 0px;
  border-radius: 0px;
  background-color: transparent;
  box-shadow: none;
}

.log-container {
  width: 100%;
  flex: 1;
  overflow-y: scroll;
  border-radius: 5px;
  padding: 10px;
  white-space: pre-wrap;
  font-family: monospace;


}
.help-block {
  padding-left: 10px;
  font-size: 0.6875rem;
  margin-top: 0;
  margin-bottom: 0;
  color: #666;
}
/* Grid container for two equal columns */
.split-screen {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns of equal width */
  max-height: 100%; /* Full height of the viewport */
  box-sizing: border-box;
  overflow: hidden;
}

.split-screen.flex {}

@media (max-width: 960px) {
  .split-screen.flex {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.split-screen.three-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.split-screen.three-columns.flex {

}

@media (max-width: 768px) {
  .split-screen.three-columns.flex {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.split-screen > .flex-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  max-height: 100%; /* Constrain height to the size of its container */
  overflow: auto; /* Allow scrolling for overflowing content */
  /*box-sizing: border-box; !* Include padding and border in dimensions *!*/
}

/* container around a set of tabs */
.tabbed-form-container {
  display: flex;
  position: relative;
  flex-direction: column;
  max-height: 100%;
  /*box-sizing: border-box;*/
  margin: 0;
  object-fit: contain;
}

/* container inside a tab */
.container.tab {
    margin-top: 5px;
    overflow: auto;
}

.tabbed-layout {
  display: flex;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.tabs-header {
  flex-shrink: 0;

}
/* tab row layout */
.tabs-row {
  display: flex;
  justify-content: start; /* Align tabs to the left */
  padding: 5px;
  background-color: #f8f9fa; /* Light background for tabs row */
  border-bottom: 2px solid #ccc; /* Underline divider */
}

/* Style for individual tabs */
.tabs-row button {
  border: 0 solid #ccc;
  border-radius: 5px 5px 0 0; /* Rounded top corners */
  padding: 10px 20px;
  margin-right: 5px; /* Space between tabs */
  background: #42a5da; /* Default background color */
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 13px;
}

/* Disabled button style */
.tabs-row button:disabled {
  background: #d69a20; /* Light gray background for disabled state */
  cursor: not-allowed; /* Indicate no interaction is possible */
  opacity: 0.6; /* Slightly transparent effect */
}


/* Hover effect for tabs */
.tabs-row button:hover:enabled {
  /*background: #d6dade; !* Slightly darker hover color *!*/
  /*opacity: 0.6;*/
  font-weight: bold;
}



/* Active tab styling */
.tabs-row .active-tab {
  background: #fff; /* Active tab matches content background */
  /*border-bottom: 2px solid black; !* Matches the background *!*/
  font-weight: bold; /* Highlight active tab with bold text */
  border: 2px solid #aaa;
}

.tab-container {
  flex-grow: 1;
  /*display: flex; !* Enables flexbox layout *!*/
  width: 100%; /* Full width of the container */
  /*height: 100vh; !* Optional, depending on the layout *!*/
  overflow-y: auto; /* Ensures no extra content spills outside */
  /*position: relative; !* Optional for contextual positioning *!*/
}


.tab-content {
  flex: 1; /* Fills the remaining space by default */
  overflow: auto; /* to ensure side bar is not visible. */
  transition: all 0.3s ease;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  height: calc(100vh - 50px);
  /*height: 80vh;*/
  padding: 0;
  background: #fff;
  max-height: 100%;
  /*border: 1px solid #ccc;
  /*border-radius: 0 5px 5px 5px; /* Rounded bottom corners (Excel style) */
}

.tab-content.shifting {
  margin-right: 300px;
}

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
}

.btn {
  background-color: #0a4777;
  border-color: #0a4777;
  color: #fff;
  margin: 10px;
}

.btn:hover {
  color: #fff;
  font-weight: bold;
}

button.btn-danger {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
  color: #fff;
  margin-bottom: 10px;
}

/* icon buttons should remain empty with some spacing only */
button.btn-icon {
  background: none;
  border: none;
  cursor: pointer;
  color: grey;
  transition: color 0.3s; /* Smooth color transition */
}

/* Change colors of icon within button on hover */
button.btn-icon:hover .danger {
  transition: color 0.3s; /* Smooth color transition */
  color: red; /* Change to your desired color */
}
button.btn-icon:hover .run {
  transition: color 0.3s; /* Smooth color transition */
  color: blue; /* Change to your desired color */
}
button.btn-icon:hover .edit {
  transition: color 0.3s; /* Smooth color transition */
  color: green; /* Change to your desired color */
}

button.btn-icon:hover .document {
    transition: color 0.3s; /* Smooth color transition */
    color: #00a6ff; /* Change to your desired color */
}

/* Close Button for menus and widgets */
.close-button {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3); /* Slightly increase the size */
  }
  100% {
    transform: scale(1);
  }

}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.pulsating-icon {
  animation: pulse 1.5s infinite; /* Add pulsating animation */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.custom-file-button input[type=file] {
  margin-left: -2px !important;
}

.custom-file-button input[type=file]::-webkit-file-upload-button {
  display: none;
}

.custom-file-button input[type=file]::file-selector-button {
  display: none;
}

.custom-file-button:hover label {
  background-color: #dde0e3;
  cursor: pointer;
}

.spinner-viewport {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 24px;
  font-weight: bold;
  z-index: 1000;

}

.spinner-container {
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: column; /* Stack contents vertically */
  top: 30%;
  left: 50%;
  font-size: 20px;
  font-weight: bold;
    color: #666666;
  transform: translate(-50%, 0%);
  background-color: #eeeeee;
  z-index: 1000; /* Higher than the image */
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.2); /* Gray background */
  border-top: 8px solid #3498db; /* Blue color for the spinner */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
  /*position: relative; !* Adjust position to center *!*/

  /*align-items: center; !* Center items horizontally *!*/
  /*text-align: center; !* Center align text within the container *!*/


}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
