#root {
  margin: 0 auto;
  padding: 0 auto;
  /* text-align: center; */
  height: 100%;
  font-family: Barlow;
}
.app-container {
  display: flex;
  flex-direction: column; /* Stack Navbar, Main Content, and Footer */
  margin: 0;
  padding: 0;
  height: 100vh; /* Ensure the container fills the entire viewport */
  width: 100%;
  overflow: hidden; /* prevent body from scrolling */
  box-sizing: border-box;
  background-color: #eeeeee;

}
.main-content {
  flex: 1 1 auto; /* This makes the main content area take up the remaining space */
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* scrollable with overflowing content */
  position: relative;
  padding: 1rem 1rem; /* Optional: Add some padding */
  height: 100%;
}

.flex-container {
  display: flex;
  gap: 10px;
  margin: 20px;
  padding: 20px;
  flex-direction: row;
  background-color: #ffffff;
  border: 0 solid #ccc;
  border-radius: 10px 10px 10px 10px; /* Rounded top corners */
  height: 100%;
  box-sizing: border-box;
  max-height: 100%;

}

.flex-container.column {
  flex-direction: column;
}

.flex-container.no-padding {
  padding: 0;
  margin: 0;
  gap: 0px;
  border-radius: 0px;
  background-color: transparent;
}

/* Grid container for two equal columns */
.split-screen {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns of equal width */
  max-height: 100%; /* Full height of the viewport */
  /*box-sizing: border-box;*/
  overflow: hidden;
}

.split-screen > .flex-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  max-height: 100%; /* Constrain height to the size of its container */
  overflow: auto; /* Allow scrolling for overflowing content */
  /*box-sizing: border-box; !* Include padding and border in dimensions *!*/
}

.tabbed-form-container {
  display: flex;
  position: relative;
  flex-direction: column;
  max-height: 100%;
  /*box-sizing: border-box;*/
  margin: 0;
  object-fit: contain;
}

.tabbed-layout {
  display: flex;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.tabs-header {
  flex-shrink: 0;

}
/* tab row layout */
.tabs-row {
  display: flex;
  justify-content: start; /* Align tabs to the left */
  padding: 5px;
  background-color: #f8f9fa; /* Light background for tabs row */
  border-bottom: 2px solid #ccc; /* Underline divider */
}

/* Style for individual tabs */
.tabs-row button {
  border: 0 solid #ccc;
  border-radius: 5px 5px 0 0; /* Rounded top corners */
  padding: 10px 20px;
  margin-right: 5px; /* Space between tabs */
  background: #e9ecef; /* Default background color */
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 13px;
}

/* Hover effect for tabs */
.tabs-row button:hover {
  background: #d6dade; /* Slightly darker hover color */
}

/* Active tab styling */
.tabs-row .active-tab {
  background: #fff; /* Active tab matches content background */
  border-bottom: 2px solid white; /* Matches the background */
  font-weight: bold; /* Highlight active tab with bold text */
}

.tab-container {
  flex-grow: 1;
  /*display: flex; !* Enables flexbox layout *!*/
  width: 100%; /* Full width of the container */
  /*height: 100vh; !* Optional, depending on the layout *!*/
  overflow-y: auto; /* Ensures no extra content spills outside */
  /*position: relative; !* Optional for contextual positioning *!*/
}


.tab-content {
  flex: 1; /* Fills the remaining space by default */
  overflow: auto; /* to ensure side bar is not visible. */
  transition: all 0.3 ease;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  height: calc(100vh - 50px);
  /*height: 80vh;*/
  padding: 0;
  background: #fff;
  max-height: 100%;
  /*border: 1px solid #ccc;
  /*border-radius: 0 5px 5px 5px; /* Rounded bottom corners (Excel style) */
}

.tab-content.shifting {
  margin-right: 300px;
}

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
}

.btn {
  background-color: #0a4777;
  border-color: #0a4777;
  color: #fff;
  margin: 10px;
}

.btn:hover {
  color: #fff;
  font-weight: bold;
}

button.btn-danger {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
  color: #fff;
  marginBottom: 10px;
}

/* icon buttons should remain empty with some spacing only */
button.btn-icon {
  background: none;
  border: none;
  padding-horizontal: 5;
  cursor: pointer;
  color: grey;
  transition: color 0.3s; /* Smooth color transition */
}

/* Change colors of icon within button on hover */
button.btn-icon:hover .danger {
  transition: color 0.3s; /* Smooth color transition */
  color: red; /* Change to your desired color */
}
button.btn-icon:hover .run {
  transition: color 0.3s; /* Smooth color transition */
  color: blue; /* Change to your desired color */
}
button.btn-icon:hover .edit {
  transition: color 0.3s; /* Smooth color transition */
  color: green; /* Change to your desired color */
}

/* Close Button for menus and widgets */
.close-button {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3); /* Slightly increase the size */
  }
  100% {
    transform: scale(1);
  }

}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.spinner {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.pulsating-icon {
  animation: pulse 1.5s infinite; /* Add pulsating animation */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

a {
  color: #FFFFFF;
}
a:hover {
  color: #FFFFFF;
  font-weight: bold;
}

.custom-file-button input[type=file] {
  margin-left: -2px !important;
}

.custom-file-button input[type=file]::-webkit-file-upload-button {
  display: none;
}

.custom-file-button input[type=file]::file-selector-button {
  display: none;
}

.custom-file-button:hover label {
  background-color: #dde0e3;
  cursor: pointer;
}
