.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Ensures vertical alignment with the slider */
    margin-top: 10px; /* Adjust as needed for spacing between slider and buttons */
}

.horizontal-slider {
    width: 100%;
    margin-bottom: 40px;  /* ensure the next element is not covered by the slider */
}

.slider-container {
    position: relative;
    width: 100%; /* Adjust according to your slider's container width */
}

.slider-min {
    position: absolute;
    top: -20px; /* Adjust as needed to place it above the slider */
    left: 0;
    font-size: 12px;
    color: #333; /* Adjust text color */
}

.slider-max {
    position: absolute;
    top: -20px; /* Same as `.slider-min` for alignment */
    right: 0;
    font-size: 12px;
    color: #333; /* Adjust text color */
}

.thumb {
    height: 20px;
    width: 20px;
    background-color: #007bff;
    border-radius: 50%;
    /*align-items: center;*/
    cursor: grab;
    position: relative;
    top: 50%; /* Start positioning from the center of the track */
    transform: translateY(-25%); /* Align the thumb visually to the center */

}
.thumb-disabled {
    background-color: #bbb;
    cursor: not-allowed;
}

.track {
    height: 10px;
    background-color: #ddd;
}


.form-horizontal {
    display: flex; /* Use flexbox for horizontal alignment */
    align-items: center; /* Align label and input vertically */
    gap: 1rem; /* Standard distance between label and input */
    font-size: 14px;
    width: 97%; /* leave a tiny bit of space to render numbers below without causing a scrollbar */
}

.form-horizontal label {
    width: 200px; /* Optional: Set a fixed width for uniformity */
}

.form-horizontal input {
    flex: 1; /* Allow the input to grow and take remaining space if needed */
}
