.tabbed-form-container {
  display: block;
  position: relative;
  flex-direction: column;
  max-height: 100vh;
  /*box-sizing: border-box;*/
  margin: 0;
  object-fit: contain;
}

.tabbed-layout {
  display: flex;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

/* tab row layout */
.tabs-row {
  display: flex;
  justify-content: start; /* Align tabs to the left */
  padding: 5px;
  background-color: #f8f9fa; /* Light background for tabs row */
  border-bottom: 2px solid #ccc; /* Underline divider */
}

/* Style for individual tabs */
.tabs-row button {
  border: 0 solid #ccc;
  border-radius: 5px 5px 0 0; /* Rounded top corners */
  padding: 10px 20px;
  margin-right: 5px; /* Space between tabs */
  background: #e9ecef; /* Default background color */
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 13px;
}

/* Hover effect for tabs */
.tabs-row button:hover {
  background: #d6dade; /* Slightly darker hover color */
}

/* Active tab styling */
.tabs-row .active-tab {
  background: #fff; /* Active tab matches content background */
  border-bottom: 2px solid white; /* Matches the background */
  font-weight: bold; /* Highlight active tab with bold text */
}

.tab-container {
  display: flex; /* Enables flexbox layout */
  width: 100%; /* Full width of the container */
  height: 100%; /* Optional, depending on the layout */
  overflow: hidden; /* Ensures no extra content spills outside */
  position: relative; /* Optional for contextual positioning */
}


.tab-content {
  flex: 1; /* Fills the remaining space by default */
  overflow: hidden; /* to ensure side bar is not visible. */
  transition: all 0.3 ease;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  height: calc(100vh - 50px);
  /*height: 80vh;*/
  padding: 0;
  background: #fff;
  /*border: 1px solid #ccc;
  /*border-radius: 0 5px 5px 5px; /* Rounded bottom corners (Excel style) */
}

.tab-content.shifting {
  margin-right: 300px;
}

.image-container {
  width: 100%; /* Take the full width of the container */
  height: 100%; /* Take the full height of the container */
  max-height: 100%; /* Ensure it scales within the viewport’s height */
  display: flex;
  align-items: center; /* Center the image vertically */
  justify-content: center; /* Center the image horizontally */
  overflow: hidden; /* Prevent overflowing content */
}


.img-calibration {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  cursor: crosshair;
  pointer-events: auto !important;  // necessary to ensure that styling and click events are picked up within a transform view
  touch-action: manipulation;
}
