.tabbed-form-container {
  display: block;
  position: relative;
  flex-direction: column;
  max-height: 100%;
  box-sizing: border-box;
  margin: 0px;
}

.tabbed-layout {
  display: flex;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

/* tab row layout */
.tabs-row {
  display: flex;
  justify-content: start; /* Align tabs to the left */
  padding: 5px;
  background-color: #f8f9fa; /* Light background for tabs row */
  border-bottom: 2px solid #ccc; /* Underline divider */
}

/* Style for individual tabs */
.tabs-row button {
  border: 0px solid #ccc;
  border-radius: 5px 5px 0 0; /* Rounded top corners */
  padding: 10px 20px;
  margin-right: 5px; /* Space between tabs */
  background: #e9ecef; /* Default background color */
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 13px;
}

/* Hover effect for tabs */
.tabs-row button:hover {
  background: #d6dade; /* Slightly darker hover color */
}

/* Active tab styling */
.tabs-row .active-tab {
  background: #fff; /* Active tab matches content background */
  border-bottom: 2px solid white; /* Matches the background */
  font-weight: bold; /* Highlight active tab with bold text */
}



/* .tab-content {
  flex: 1;
  padding: 0px;
} */

.tab-content {
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  height: 100%;
  padding: 0px;
  background: #fff;
  /*border: 1px solid #ccc;
  /*border-radius: 0 5px 5px 5px; /* Rounded bottom corners (Excel style) */
}

.img-calibration {
  width: 100%;
  height: auto;
  cursor: crosshair;
  pointer-events: auto !important;  // necessary to ensure that styling and click events are picked up within a transform view
}
